@charset "UTF-8";
/**
 * mixin 利用方法
 */
.example {
  color: #000;
}
@media (min-width: 768px){
  .example {
    content: "min-width: 768px";
  }
}
@media (min-width: 1024px){
  .example {
    content: "min-width: 1024px";
  }
}
@media (min-width: 1366px){
  .example {
    content: "min-width: 1366px";
  }
}
@media (max-width: 425px){
  .example {
    content: "max-width: 425px";
  }
}
